

<h1>测试微信JS-SDK</h1>
<p></p>


<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script>

console.log('wx config start ..');
alert(location.href.split('#')[0])

wx.config({
      debug: true,
      appId: '{{config.appId}}',
      timestamp: '{{result.timestamp}}',
      nonceStr: '{{result.nonceStr}}',
      signature: '{{result.signature}}',
      jsApiList: [
        'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'hideMenuItems',
        'showMenuItems',
        'hideAllNonBaseMenuItem',
        'showAllNonBaseMenuItem',
        'translateVoice',
        'startRecord',
        'stopRecord',
        'onRecordEnd',
        'playVoice',
        'pauseVoice',
        'stopVoice',
        'uploadVoice',
        'downloadVoice',
        'chooseImage',
        'previewImage',
        'uploadImage',
        'downloadImage',
        'getNetworkType',
        'openLocation',
        'getLocation',
        'hideOptionMenu',
        'showOptionMenu',
        'closeWindow',
        'scanQRCode',
        'chooseWXPay',
        'openProductSpecificView',
        'addCard',
        'chooseCard',
        'openCard'
      ]
  });

wx.ready(function(){
	console.log('wx ready.');

	wx.checkJsApi({
		jsApiList: [
        'getNetworkType',
        'previewImage'
      ],
      success: function (res) {
        alert(JSON.stringify(res));
      }
	});

  var shareTitle = '微信分享标题';
  var shareDesc = '微信分享描述';
  var shareLink = '微信分享链接';
  var shareImg = '微信分享封面标题';

  // 分享给朋友事件绑定
  wx.onMenuShareAppMessage({
    title: shareTitle,
    desc: shareDesc,
    link: shareLink,
    imgUrl: shareImg
  });

  // 分享到朋友圈
  wx.onMenuShareTimeline({
    title: shareTitle,
    link: shareLink,
    imgUrl: shareImg
  });

  // 分享到QQ
  wx.onMenuShareQQ({
    title: shareTitle,
    desc: shareDesc,
    link: shareLink,
    imgUrl: shareImg
  });

  // 分享到微博
  wx.onMenuShareWeibo({
    title: shareTitle,
    desc: shareDesc,
    link: shareLink,
    imgUrl: shareImg
  });


});

wx.error(function(res){
	console.log('error!');
	console.dir(res);
});

</script>
